@font-face {
    font-family: 'Pony';
    src: url('./font/Pony.ttf');
}
body{
   font-family:'Pony' 
}

.speech-bubble {
	position: relative;
	background: #45D994;
	border-radius: .4em;
	
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-top-color: #45D994;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
}

.main{
    background: url(../../public/img/bgGame.png) center no-repeat;
    background-size: cover;
    height:150vh;
}
.player, .ketQua, .computer{
    /* position: relative; */
    padding: 50px 0;
}
.player__img, .computer__img{
    /* position: absolute;
    top: 0;
    left: 0; */
    background: #fff;
    width: 150px;
    height: 150px;
    border: 5px solid #45D994;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items:center;
}
.player__img img{
    width: 100px;
}
.player__img-center img{
    width: 200px;
}
.player__img-bottom img{
    width: 50px;
}
.player__img-tuxi{
    background-color: #fff;
    margin:  0 10px;
    border-radius: 10px;
}
.select{
    border: 3px solid orange;
}
.player__img-bottom{
    display: flex;
    justify-content: center;
}